{% extends "base.html" %}

{% block title %}投票主題列表{% endblock %}

{% block main %}
    <h1>投票主題列表-Listview</h1>
    <a href="{% url 'poll_create'  %}">新增投票主題</a>
    
    <ul>
        {% for polll in polll_list %}
        <li>{{polll.created}}
            <a href="{% url 'poll_view' polll.id %}"> {{polll.subject}}</a> 
            <a href="{% url 'poll_edit' polll.id %}"> 修改</a>
            <a href="{% url 'poll_delete' polll.id %}">刪除投票主題</a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}